html, body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    background-color: hsl(0, 100%, 74%);
    background-image: url("./../images/bg-intro-desktop.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;  
}
.outer-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media only screen and (max-width:900px){
    .outer-container{
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }
}
.flex-child{
    flex: 1;
    padding: 5%;
}
.flex-child:first-child{
    margin-left: 8%;
    margin-right: 2%;
}
.flex-child:last-child{
    margin-left: 2%;
    margin-right: 8%;
}

.message{
    color: white;
}
#big-message{
    font-size: 250%;
    font-weight: 700;
    line-height: 30px;
}
#small-message{
    line-height: 20px;
}

.info{
    color: white;
    background-color: hsl(248, 32%, 49%);
    font-weight: 600;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 7px rgba(0, 0, 0, 0.2);
}
#price{
    color: hsl(246, 25%, 77%);
    font-weight: 500;
}


form{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 7px rgba(0, 0, 0, 0.2);
}
input{
    box-sizing: border-box;
    width: 100%;
}
input[type=submit]{
    background-color: hsl(154, 59%, 51%);
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 4px rgba(20, 92, 61, 0.658);
}
/* input[type=text], input[type=email], input[type=password]{
    font-weight: 600;
    padding: 15px;
    border: 1px solid rgba(184, 181, 181, 0.507);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} */
.field-box{
    font-weight: 600;
    padding: 15px;
    border: 1px solid rgba(184, 181, 181, 0.507);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
    outline: none;
    box-shadow: 0 0 1px 1px hsla(249, 10%, 26%, 0.699);
} */
.field-box:focus{
    outline: none;
    box-shadow: 0 0 1px 1px hsla(249, 10%, 26%, 0.699);
}
input[type=submit]:focus{
    outline: none;
    box-shadow: 0 4px rgba(20, 92, 61, 0.658);
    font-size: 101%;
}
.field{
    position: relative;
}
i{
    font-size: 500%;
    color: hsl(0, 100%, 74%);
    position: absolute;
    top: 15px;
    right: 20px;
    visibility: hidden;
}
p.error{
    font-size: 65%;
    color:  hsl(0, 100%, 74%);
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.field-box.wrong{
    border: 1px solid hsl(0, 100%, 74%);
}
i.wrong{
    visibility: visible;
}
p.wrong{
    visibility: visible;
}
.terms{
    font-size: 70%;
    font-weight: 500;
    color: rgba(163, 160, 160, 0.733);
    text-align: center;
}
#tnc{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}